
.incomplete-page {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 930px;
    height: 630px;
    background-color: #393F49;
    margin: 0 auto;
    align-self: center;
    padding: 4rem;
    border-radius: 5px;
}

.incomplete-page {
    //display: flex;
    //flex-direction: column;
}